
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand hover" href="/adminpanel">Kullanıcıları Yönet</a>
      <div class="vr"></div>
      <a href="/icerik" class="navbar-brand hover">İçerikleri Yönet</a>
  
    </div>
  </nav>
  
  <div class="container mt-5">
    <div class="row">
  
  
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-12">
            <h4>Sorular</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                 
                  <th>Konu Başlığı Adı</th>
                  <th>Kayıt Tarihi</th>
                  <th>Yanıt Durumu</th>
                  <th>Durum Değiş</th>
                  <th>Sil</th>
                </thead>
                <tbody>
                  <tr *ngFor="let kayit of kayitlar">
                    
                    <td>{{kayit.baslik}}</td>
                    <td>{{kayit.kayTarih | date:'dd.MM.yyyy HH:mm'}}</td>
                    <td><span class="badge badge-pill bg-success text-white" *ngIf="kayit.islem">Yanıtlandı</span>
                        <span class="badge badge-pill bg-danger text-white" *ngIf="!kayit.islem">Bekliyor</span></td>
                    <td><button class="btn btn-outline-primary btn-sm" (click)="TamamlaIptal(kayit,true)" *ngIf="!kayit.islem">Yanıtlandı yap</button>
                        <button class="btn btn-outline-danger btn-sm" (click)="TamamlaIptal(kayit,false)" *ngIf="kayit.islem">Yanıtlanmadı yap</button>
                    </td>
                    
                    <td><button class="btn btn-outline-danger" (click)="KayitSec(kayit);silme=true;">Sil</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="silme">
        <div class="col-md-12">
          <p><b>{{secKayit.baslik}}</b> Başlıklı kayıt silinecektir. Onaylıyor musun?</p>
          <button class="btn btn-outline-danger btn-sm" (click)="Sil()">Sil</button>
          <button class="btn btn-outline-primary btn-sm mx-2" (click)="silme=false;">İptal Et</button>
        </div>
    </div>